*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

input,
button,
textarea {
    font-size: var(--fs-16);
}

button {
    cursor: pointer;
    color: inherit;
    background-color: inherit;
    border: 0;
    padding: 0;
}

a {
    color: inherit;
}

a:link,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
    height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-weight: inherit;
    font-size: inherit;
    padding: 0;
    margin: 0;
}

form,
dl,
ol,
ul {
    padding: 0;
    margin: 0;
}